/.vscode/**

/.gitignore
/tsconfig.json

/node_modules/**
!/node_modules/google-closure-compiler-java
!/node_modules/typescript
/src/
/dist/**/*.js.map
/dist/tool_*.js
/schema/closure.old.schema.json
